/** Board */
#board .row{
    justify-content: center;
}
#board .col {
    height: 2rem;
    flex-basis: 2rem;
    flex-grow: 0;
    border: 1px solid var(--bs-secondary);
    position: relative;
}
#board .col > i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1rem;
}
@media (min-width: 576px){
    #board .col {
        height: 3.5rem;
        flex-basis: 3.5rem;
    }
    #board .col > i{font-size: 1.8rem;}
}
#board .col.light > i{color: var(--bs-dark);}
#board .col.dark > i{color: var(--bs-dark);}

#board .col.light_candidate > i,
#board .col.dark_candidate > i{
    opacity: .5;
    color: var(--bs-gray);
}

/** Scoreboard */
#scoreboard i {font-size: 1.5rem;}
@media (min-width: 576px){
    #scoreboard i {font-size: 2rem;}
}

/** Game logic */
#board .col.last-move {background-color: var(--bs-gray-400);}
/* Human Move */
#board[game-status="human move"] .col:not(.light_candidate){cursor: not-allowed;}
#board[game-status="human move"] .col.light_candidate{cursor: pointer;}
#board .col.light_candidate:hover > i{
    opacity: .5;
    font-size: 1.5rem;
}
@media (min-width: 576px){
    #board .col.light_candidate:hover > i{font-size: 2.5rem;}
}


/* Computer Move */
#board[game-status="computer move"] .col{cursor: wait;}