/** Board */
#board .row {
  justify-content: center;
}
#board .col {
  height: 2rem;
  flex-basis: 2rem;
  flex-grow: 0;
  border: 1px solid var(--bs-secondary);
  position: relative;
}
#board .row:first-child .col {
  border-top: none;
}
#board .row:last-child .col {
  border-bottom: none;
}
#board .col:first-child {
  border-left: none;
}
#board .col:last-child {
  border-right: none;
}

#board .col > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

@media (min-width: 576px){
  #board .col {
      height: 3.5rem;
      flex-basis: 3.5rem;
  }
  #board .col > i{font-size: 1.8rem;}
}

#board .col{ color: var(--bs-gray-500);}
#board .col.last-move{ color: var(--bs-body-color);}

#board .col.human {
  background: repeating-linear-gradient(
    45deg,
    rgba(var(--bs-success-rgb), 0.2),
    rgba(var(--bs-success-rgb), 0.2) 0.25rem,
    transparent 0.25rem,
    transparent 0.5rem
  );
}

#board .col.computer {
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 0.25rem,
    rgba(var(--bs-info-rgb), 0.2) 0.25rem,
    rgba(var(--bs-info-rgb), 0.2) 0.5rem
  );
}

#board .col.human.computer {
  background: repeating-linear-gradient(
    45deg,
    rgba(var(--bs-success-rgb), 0.2),
    rgba(var(--bs-success-rgb), 0.2) 0.25rem,
    rgba(var(--bs-info-rgb), 0.2) 0.25rem,
    rgba(var(--bs-info-rgb), 0.2) 0.5rem
  );
}

/** Scoreboard */
#scoreboard i {font-size: 1.5rem;}
@media (min-width: 576px){
    #scoreboard i {font-size: 2rem;}
}

#score-human > i{color: var(--bs-success);}
#score-computer > i{color: var(--bs-info);}

/** Game logic */
/* Human Move */
#board[game-status="human move"] .col.empty {
  cursor: pointer;
}
#board[game-status="human move"] .col:not(.empty) {
  cursor: not-allowed;
}
#board .col.empty > i {
  opacity: 0.5;
  font-size: 1.5rem;
}
@media (min-width: 576px){
  #board .col.empty > i{font-size: 2.5rem;}
}

/* Computer Move */
#board[game-status="computer move"] .col {
  cursor: wait;
}

/* Gameover*/
#board[game-status="gameover"] .col {
  cursor: not-allowed;
}
